@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h1> Bienvenido a la Calculadora mas fea y poco practica del internet</h1>

<p>Considera <strong>x</strong> e <strong>y</strong> como 2 numeros cualquiera</p>

<p>Para sumar, ingrese la accion /sumar?num1=<strong>x</strong> &num2=<strong>y</strong></p>
<p>Para restar, ingrese la accion /restar?num1=<strong>x</strong> &num2=<strong>y</strong></p>
<p>Para multiplicar, ingrese la accion /multiplicar?num1=<strong>x</strong> &num2=<strong>y</strong></p>
<p>Para dividir, ingrese la accion /dividir?num1=<strong>x</strong> &num2=<strong>y</strong></p>