<style>
	.btn{
		padding:25px;
		background: purple;
		font-weight: bold;
		min-width: 150px;
		color: white;
		border-radius: 5px;
	}

</style>

<div style="padding:20px">
	<h1> Hola desde Index</h1>
</div>
<div style="display:flex">
	<div style="padding:20px; margin:5px 0">
		<a href="home/login" class="btn">Ir a Login</a>
	</div>

	<div style="padding:20px; margin:5px 0">
		<a href="home/registro" class="btn">Ir a Registro</a>
	</div>

	<div style="padding:20px; margin:5px 0">
		<a href="calculadora/index" class="btn">Ir a Calculadora</a>
	</div>
</div>
